body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color:black;
    border: 2px soild black;

    /* background-image: url(img3.jpg);
    background-size: cover; */

}
form{
    max-width: 400px;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(17, 8, 76);
    border-radius: 10px;
    
}
.calci{
    border: 2px soild black;
}
h1{
    font-size: 50px;
}
input{
    height: 50px;
    width: 75px;
    border-radius: 10px;
    margin: 10px;
    font-size: 35px;
   
}
.btn{
    background-color: transparent;
}